*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: DINPro;
    font-size: 56px;
    font-weight: 400;
    text-align: left;
    color: rgb(118,185,0);
}

h2{
    font-family: DINPro;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
    color: rgb(118,185,0);
}

h3{
    font-family: DINPro;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: rgb(118,185,0);
}

p{
    font-family: DINPro;
    font-size: 24px;
    font-weight: 100;
    text-align: left;
    line-height: 32px;
    color: rgb(255,255,255);
}

#list1{
    background-color: white;
    width: 100%;
    height: 52px;;
    padding-left: 15%;
}

#list2{
    height: 74px;
    width: 100%;
    background-color: rgba(5,5,5);
    padding-left: 15%;
    cursor: pointer;
    color: rgb(255,255,255);
    font-family: DINPro;
    font-size: 25px;
    display: flex;
    align-items: center;
}    

#list2 img{
    height: 40px;
    margin-top: 18px;
}

#list3{
    background-color: #1a1a1a;
    width: 100%;
    height: 70px;
    padding-left: 15%;
    /*position: fixed;*/
    opacity: 0.9;
    z-index: 500;
    padding-top: 25px;
    cursor: pointer;
}

#list3 span{
    font-family: DINPro;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    color: rgb(238,238,238);
}

#portada{
    background-image: url(img/portada/nvidia-quadro-vr-hero-2560-ud@2x.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    width: 100%;  
    height: 360px;
    display: flex;
    align-items: center;
}

#article-1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 378px;
}

#article-1 h2,p{
    text-align: center;
}

#article-2{
    width: 100%;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#article-2-text p{
    font-family: DINPro;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: black;
}

.solucion{
    width: 290px;
    height: 350px;
    margin-left: 35px;
}

.solucion-text p{
    font-family: DINPro;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 15px;
    text-align: left;
    color: black;
}

#article-3{
    width: 100%;
    height: 580px;
    background-image: url(img/section/gtc21-spring-web-best-of-gtc-module-desktop-2560x580@1x.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    align-items: center;
}

#article-3-text{
    margin-left: 300px;
    width: 640px;
}

#article-3-text img{
    margin-left: 10px;
    margin-bottom: 35px;
}

#article-3-text p{
    margin-top: 10px;
    text-align: left;
}

#article-4{
    width: 100%;
    height: 1300px;
}

#noticias{
    width: 100%;
    height: 680px;
    margin-top: 80px;
    text-align: center;
}

.section-noti{
    width: 290px;
    height: 500px;
    margin-left: 35px;
}

.section-noti p{
    font-family: DINPro;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 15px;
    text-align: left;
    color: black;
}

.section-noti-text{
    width: 100%;
    height: 310px;
}

#article-5{
    width: 100%;
    height: 800px;
    padding-top: 75px;
    background-color: rgb(238,238,238);
}

#article-5 > p{
    display: block;
    margin: 0 auto;
    color: rgb(118,185,0); 
    width: 1220px;
    font-size: 32px; 
    font-weight: 400; 
    text-align: left;
    margin-bottom: 40px;
}

.section-recursos{
    width: 290px;
    height: 500px;
    margin-left: 30px;
}

.section-recu-text > h3{
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.section-recu-text > p{
    font-family: DINPro;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 15px;
    text-align: left;
    color: black;
}

.section-recu-text{
    width: 100%;
    height: 310px;
}

footer{
    width: 100%;
}

#redes{
    font-family: DINPro;
    font-size: 16px;
    color: #747474;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    padding: 15px;
}

.social{
    margin: 10px;
    width: 30px;
    height: 30px;
}

#pie{
    background-color: white;
    padding-top: 15px;
    padding-left: 15%;
}

#logof{
    width: 115px;
    height: 30px;
    margin: 0 25px 20px;
}

#poli p{
    color: rgb(102, 102, 102);
    padding-left: 20px;
    text-align: left;
    font-family: DINPro;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
}

